<body class="cartPage">
  {{> header}}

  <main>
    <!--<form action="/myCart" method="POST">
      <fieldset>    
        <label for="">Look for order</label>
        <input type="text" name="searchID">
        <input type="submit" value="searchOrder"> 
      </fieldset>  
    </form> -->

    {{#if orders }}
      <section>
        <h2>Ordered products</h2>
        <aside>
          <img src="{{orders.img}}" alt="">
          <p id="printedText" style="color: {{orders.printColor}};">{{orders.print}}</p>
        </aside>

        <aside>
          <div>
            <p>Order ID: {{orders.orderID}}</p>
            <p>Product ID: {{orders.productID}}</p>
            <p>Name: {{orders.name}}</p>
            <p>Type: {{orders.type}}</p>
          </div>
          <div>
            <p>Price: {{orders.price}}</p>
            <p>Size: {{orders.size}}</p>
            <p>Printed text: {{orders.print}}</p>
            <p>Print color: {{orders.printColor}}</p>
            <p>Color: {{orders.color}}</p>
          </div>
        </aside>
      </section>

      <section>
        <form action="/create-profile" method="POST">
          <h3>Register</h3>
          <fieldset>
            <input type="hidden" name="orderID" value="{{orders.orderID}}">
            <input type="hidden" name="productID" value="{{orders.productID}}">
            <input type="hidden" name="name" value="{{orders.name}}">
            <input type="hidden" name="type" value="{{orders.type}}">
            <input type="hidden" name="cat" value="{{orders.categorie}}">
            <input type="hidden" name="price" value="{{orders.price}}">
            <input type="hidden" name="gender" value="{{orders.gender}}">
            <input type="hidden" name="size" value="{{orders.size}}">
            <input type="hidden" name="print" value="{{orders.print}}">
            <input type="hidden" name="color" value="{{orders.color}}">
            <input type="hidden" name="img" value="{{orders.img}}">

            <fieldset>
              <legend>First name:</legend>
              <input type="text" name="firstname" required>
            </fieldset>

            <fieldset>
              <legend>Last name:</legend>
              <input type="text" name="lastname" required>
            </fieldset>

            <fieldset>
              <legend>Email:</legend>
              <input type="email" name="email" required>
            </fieldset>


            <input type="submit" value="Register and add to account">
          </fieldset>
        </form>
        <form action="/login-profile" method="POST">
          <h3>Sign in with your account</h3>
          <fieldset>
            <input type="hidden" name="orderID" value="{{orders.orderID}}">
            <input type="hidden" name="productID" value="{{orders.productID}}">
            <input type="hidden" name="name" value="{{orders.name}}">
            <input type="hidden" name="type" value="{{orders.type}}">
            <input type="hidden" name="cat" value="{{orders.categorie}}">
            <input type="hidden" name="price" value="{{orders.price}}">
            <input type="hidden" name="gender" value="{{orders.gender}}">
            <input type="hidden" name="size" value="{{orders.size}}">
            <input type="hidden" name="print" value="{{orders.print}}">
            <input type="hidden" name="color" value="{{orders.color}}">
            <input type="hidden" name="img" value="{{orders.img}}">

            <fieldset>
              <legend>Customer ID</legend>
              <input type="text" name="customerID" required>
            </fieldset>

            <input type="submit" value="Log in and add to account">
          </fieldset>
        </form>
      </section>

    {{else}}
      <section>
        <p>No products, go order your T-shirt <a href="/shop">here</a></p>        
      </section>

      <section>
        <form action="/create-profile" method="POST">
          <h2>Register</h2>
          <fieldset>
            <fieldset>
              <legend>First name:</legend>
              <input type="text" name="firstname" required>
            </fieldset>

            <fieldset>
              <legend>Last name:</legend>
              <input type="text" name="lastname" required>
            </fieldset>

            <fieldset>
              <legend>Email:</legend>
              <input type="email" name="email" required>
            </fieldset>


            <input type="submit" value="Register and order">
          </fieldset>
        </form>
        <form action="/login-profile" method="POST">
          <h2>Sign in with your account</h2>
          <fieldset>
            <fieldset>
              <legend>Customer ID</legend>
              <input type="text" name="customerID" required>
            </fieldset>

            <input type="submit" value="Log in and order">
          </fieldset>
        </form>
      </section>
    {{/if}}



  </main>

  {{> footer}}

  <script src="js/script.js" defer></script>

</body>

