<body class="productPage">
  {{> header}}
  
  <main>
    <section>
      <article>
        <h2>{{product.name}}</h2>
        <h3>€ {{product.price}}</h3>

        <form action="/cart" method="POST">
          <fieldset>
            <input type="hidden" name="orderID" value="{{uniqueID}}">
            <input type="hidden" name="productID" value="{{product.id}}">
            <input type="hidden" name="name" value="{{product.name}}">
            <input type="hidden" name="type" value="{{product.type}}">
            <input type="hidden" name="cat" value="{{product.categorie}}">
            <input type="hidden" name="price" value="{{product.price}}">
            <input type="hidden" name="gender" value="{{product.gender}}">
            <input type="hidden" name="img" value="{{product.image.small}}">

            <fieldset>
              <label for="colorInput">Color</label>
              <select name="color" id="colorInput">
                {{#each product.color }}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
              <span class="arrow"></span>
            </fieldset>

            <fieldset>
              <label for="printInput">Print</label>
              <input type="text" name="print" id="printInput" required>
            </fieldset>

            <fieldset>
              <label >Color print</label>
              <label>
                <input type="radio" class="printColor" name="printColor" value="black" checked >
                Black
              </label>
              <label>
                <input type="radio" class="printColor" name="printColor" value="white">
                White
              </label>
            </fieldset>

            <fieldset>
              <label for="size">Size</label>
              <select name="size" id="size">
                {{#each product.sizes }}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
              <span class="arrow"></span>
            </fieldset>

            <input type="submit" value="Add to cart" id="orderButton">
          </fieldset>
        </form>

      </article>  
      <article>
        <div>
          <picture class="blackshirt shirts black"> 
            <source media="(min-width:650px)" srcset="{{product.image.black}}">
            <img src="{{product.image.black_s}}" alt="black shirt" class="image">
          </picture>
          <picture class="blueshirt shirts blue">
            <source media="(min-width:650px)" srcset="{{product.image.blue}}">
            <img src="{{product.image.blue_s}}" alt="blue shirt" class="image">
          </picture> 
          <picture class="bordeauxshirt shirts bordeaux"> 
            <source media="(min-width:650px)" srcset="{{product.image.bordeaux}}">
            <img src="{{product.image.bordeaux_s}}" alt="bordeaux shirt" class="image">
          </picture>
          <picture class="greenshirt shirts green">
            <source media="(min-width:650px)" srcset="{{product.image.green}}">
            <img src="{{product.image.green_s}}" alt="green shirt" class="image">
          </picture> 
          <picture class="greyshirt shirts grey"> 
            <source media="(min-width:650px)" srcset="{{product.image.grey}}">
            <img src="{{product.image.grey_s}}" alt="grey shirt" class="image">
          </picture>
            <picture class="indigoshirt shirts indigo"> 
            <source media="(min-width:650px)" srcset="{{product.image.indigo}}">
            <img src="{{product.image.indigo_s}}" alt="indigo shirt" class="image">
          </picture>
          <picture class="pinkshirt shirts pink">
            <source media="(min-width:650px)" srcset="{{product.image.pink}}">
            <img src="{{product.image.pink_s}}" alt="pink shirt" class="image">
          </picture> 
          <picture class="whiteshirt shirts white">
            <source media="(min-width:650px)" srcset="{{product.image.white}}">
            <img src="{{product.image.white_s}}" alt="white shirt" class="image">
          </picture> 
        </div>

        <p id="textPrint" style="color: white;"></p>

      </article>
      <article>
        <h4>Product information</h4>
        <section>
       <details> 
            <summary>Product ID</summary>
            <p>{{product.id}}</p>
          </details>
          <details> 
            <summary>Gender</summary>
            <p>{{product.gender}}</p>
          </details>
          <details> 
            <summary>Material</summary>
            <ul>
              <li>Outer: {{product.material.outer}}</li>
              <li>Washing: {{product.material.washing}}</li>
            </ul>
          </details>
          <details> 
            <summary>About the product</summary>
            <ul>
              <li>Neckline: {{product.aboutProduct.neckline}}</li>
              <li>Pattern: {{product.aboutProduct.pattern}}</li>
              <li>Item Number: {{product.aboutProduct.itemNumber}}</li>
            </ul>
          </details>
          <details> 
            <summary>Durability</summary>
            <p>{{product.durability.contains}}</p>
            <p>{{product.durability.desc}}</p>
          </details>
          <details> 
            <summary>Reviews</summary>
             <p>{{product.reviews.one}}</p>
            <p>{{product.reviews.two}}</p> 
          </details> 
        </section>

      </article>
    </section>

   
  </main>
  {{> footer}}
  <script src="js/script.js" defer></script>

</body>