<body class="profilePage">
  {{> header}}

  <main>
    <section>
      <picture>
        <source media="(min-width:650px)" srcset="{{customer.photo.normal}}">
        <img src="{{customer.photo.small}}" alt="">
      </picture>
      <aside>
        <h2>{{customer.firstname}}, {{customer.lastname}}</h2>
        <p>Mail: {{customer.email}}</p>
        <p>ID: {{customer.id}}</p>
      </aside>
    </section>

    {{#if customer.orders}}
      {{#each customer.orders}}
        <section>
          <article>
            <img src="{{this.img}}" alt="">
          </article>
          <article>
            <aside>
              <h3>{{this.orderID}}</h3>
              <h4>{{this.customerID}}</h4>
              <ul>
                <li>{{this.productID}}</li>  
                <li>{{this.print}}</li>  
                <li>{{this.size}}</li>  
              </ul>
            </aside>
            <aside>
              <ul>
                <li>{{this.color}}</li>  
                <li>{{this.gender}}</li>  
                <li>{{this.type}}</li>  
                <li>{{this.name}}</li>  
              </ul>
            </aside>
           
          </article>
          
          <div>
            <form action="/products/{{this.orderID}}" method="POST">
              <input type="hidden" name="orderID" value="{{this.orderID}}">
              <input type="hidden" name="customerID" value="{{this.customerID}}">
              <input type="submit" value="Edit">
            </form>

            <form action="/profile/deleted-order" method="POST">
              <input type="hidden" name="orderID" value="{{this.orderID}}">
              <input type="hidden" name="customerID" value="{{this.customerID}}">

              <input type="submit" value="Delete">
            </form>
          </div>
        </section>
      {{/each}}
    {{else}}
      <p>You have no products ordered/saved yet.</p>
    {{/if}}
  </main>

  {{> footer}}
  <script src="js/script.js" defer></script>

</body>

