<body class="shopPage">
  {{> header}}

  <main>
    
    <h2>All products:</h2>

    <section>
      {{#each products }}
        <article>
            <a href="/product/{{this.id}}">
              <div>
                <picture>
                  <source media="(min-width:650px)" srcset="{{this.image.white}}">
                  <img src="{{this.image.white_S}}" alt="">
                </picture> 
                <picture>
                  <source media="(min-width:650px)" srcset="{{this.image.black}}">
                  <img src="{{this.image.black_S}}" alt="">
                </picture>
              </div>
              <h3>{{this.name}}</h3>
              <h4>{{this.categorie}}</h4>
              <h4>€ {{this.price}}</h4>
            </a>
          </article>  
      {{/each}}
    </section>

  </main>

  {{> footer}}
  <script src="js/script.js" defer></script>

</body>



    

